html, body {
    font-family: Varela Round, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.header {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: 960px 100px;
    background-position: right;

    color: #DDD;
    padding-left: 20px;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.left_pannel {
    display: flex;
    color: #ddd;
    flex-direction: column;
    flex: 0 0 16em;
    order: -1;
    background-color: #444;
    border-top-right-radius: 5px;
}

.left_pannel input {
    margin: 3px 0 5px 6px;
    padding: 10px 5px 7px 5px;
    border: 0;
    color: #ddd;
    border-bottom: 1px solid #ddd;
    background: transparent;
}

.left_pannel .navigation {
    flex: 1;
    overflow: auto;
}

.left_pannel .subfolder {
    padding-left: 20px;
}

.left_pannel .item {
    display: block;
    margin: 9px 0px 9px 5px;
    color: #ddd;
    text-decoration: none;
    /* border-bottom: 1px solid black; */
}

.left_pannel .audio:before {
    content: "";
    display: block;
    background-image: url("https://png.icons8.com/material/50/000000/audio-file.png");
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin: -2px 6px 0 0;
    filter: invert(80%);

}

.left_pannel .video:before {
    content: "";
    display: block;
    background-image: url("https://png.icons8.com/material/50/000000/video-file.png");
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin: 0 6px 0 0;
    filter: invert(80%);

}

.left_pannel .folder:hover {
    cursor: pointer;
}

.left_pannel .folder:before {
    content: "";
    display: block;
    background-image: url("https://png.icons8.com/metro/50/000000/opened-folder.png");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
    filter: invert(80%);

}

.left_pannel .folder.closed:before {
    content: "";
    display: block;
    background-image: url("https://png.icons8.com/material/50/000000/opened-folder.png");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
    filter: invert(80%);

}

.left_pannel .download {
    flex: 0 0 2em;
    padding-left: 25px;
    color: #ddd;
    text-decoration: none;
}

.left_pannel .download:before {
    content: "";
    display: block;
    background-image: url("https://png.icons8.com/material/50/000000/downloading-updates-filled.png");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
    filter: invert(80%);
}

.main {
    flex: 1;
    display: flex;
}

/*.main audio {
    max-height: 100%;
    width: 100%;
}*/

.main video {
    max-height: 100%;
    width: 100%;
    margin: auto;
}