html, body {
    font-family: Varela Round, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}

.header {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: 960px 100px;
    background-position: right;

    color: #DDD;
    padding-left: 20px;
    text-decoration: none;
}

.content {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.left_panel.hidden,
.right_panel.hidden {
    display: none;
}

.left_panel {
    display: flex;
    color: #ddd;
    flex-direction: column;
    flex: 0 0 16em;
    order: -1;
    background-color: #444;
}

.left_panel input {
    margin: 3px 0 5px 6px;
    padding: 10px 5px 7px 5px;
    border: 0;
    color: #ddd;
    border-bottom: 1px solid #ddd;
    background: transparent;
}

.left_panel .navigation {
    flex: 1;
    overflow: auto;
}

.left_panel .subfolder {
    padding-left: 20px;
}

.left_panel .item {
    display: block;
    margin: 9px 0px 9px 5px;
    color: #ddd;
    text-decoration: none;
    /* border-bottom: 1px solid black; */
}

.left_panel .audio:before,
.right_panel .audio:before {
    content: "";
    display: block;
    background-image: url("../img/audio-file.png");
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin: -2px 6px 0 0;
    filter: invert(80%);

}

.left_panel .video:before,
.right_panel .video:before {
    content: "";
    display: block;
    background-image: url("../img/video-file.png");
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin: 0 6px 0 0;
    filter: invert(80%);

}

.left_panel .folder:hover {
    cursor: pointer;
}

.left_panel .folder:before {
    content: "";
    display: block;
    background-image: url("../img/opened-folder.png");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
    filter: invert(80%);

}

.left_panel .folder.closed:before {
    content: "";
    display: block;
    background-image: url("../img/folder-invoices.png");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
    filter: invert(80%);

}

.left_panel .download {
    flex: 0 0 2em;
    padding-left: 25px;
    color: #ddd;
    text-decoration: none;
}

.left_panel .download:before {
    content: "";
    display: block;
    background-image: url("../img/downloading-updates-filled.png");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
    filter: invert(80%);
}

.right_panel {
    overflow: hidden;
    color: #ddd;
    flex-direction: column;
    flex: 0 0 16em;
    order: 2;
    display: flex;
    background-color: #444;
}

.right_panel .content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 100%;
}

.right_panel .name {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 0 0 7px 5px;
    border-bottom: 1px solid #ddd;
}

.right_panel .tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7px 0 7px 0;
}

.right_panel .tools > div {
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 3px;
    filter: invert(80%);
}

.right_panel .tools .remove {
    background-image: url("https://png.icons8.com/metro/48/000000/minus-math.png");
}

.right_panel .tools .list_playlist {
    background-image: url("https://png.icons8.com/ios-glyphs/48/000000/checklist.png");
}

.right_panel .tools .list_playlist:hover {
    cursor: pointer;
}

.right_panel .tools .save_current {
    background-image: url("https://png.icons8.com/ios-glyphs/48/000000/save.png");
}

.right_panel .tools .save_current:hover {
    cursor: pointer;
}

.right_panel .tools .remove_current {
    background-image: url("https://png.icons8.com/metro/48/000000/delete-sign.png");
}

.right_panel .tools .remove_current:hover {
    cursor: pointer;
}

.right_panel .tracks {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.right_panel .tracks > a {
    color: #ddd;
    text-decoration: none;
}

.right_panel .tracks .current_track {
    background-color: #222;
    border-radius: 3px;
}

.right_panel .insert {
    padding: 5px 0 5px 0;
}

.right_panel .insert:last-child {
    flex-grow: 1;
}

.right_panel .insert.hovering {
     background-color: #666;
}

.right_panel .item:hover {
    cursor: pointer;
}

.main {
    flex: 1;
    display: flex;
    position: relative;
}

.main #toggle_left {
    position: absolute;
    background-color: #444;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 0 7px 7px 0;
    font-size: large;
    color: #ddd;
}

.main #toggle_right {
    position: absolute;
    right: 0;
    background-color: #444;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 7px 0 0 7px;
    font-size: large;
    color: #ddd;
}

.main #toggle_left:hover,
.main #toggle_right:hover {
    cursor: pointer;
}

.not_found {
    color: #ddd;
    margin: auto;
    font-size: xx-large;
}

.audio_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    color: #ddd;
}

.audio_content .audio_info {
    width: 100%;
}

.audio_content .audio_info .audio_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    background-color: grey;
    border-radius: 100%;
}

.audio_content .audio_name > p {
    max-width: 500px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    font-size: xx-large;
}

.audio_content #play-pause-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    padding-left: 100px;
    filter: invert(80%);
}

.audio_content #play-pause-button:hover {
    cursor: pointer;
    filter: invert(60%);
}

.audio_content #play-pause-button.play {
    background-image: url(../img/play-button-circled.png);
}

.audio_content #play-pause-button.pause {
    background-image: url(../img/circled-pause.png);
}

.audio_content .audio_controls {
    display: flex;
    justify-content: space-around;
    padding: 0 30px 0 30px;
}

.audio_content .volume {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.audio_content #volume-button {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding-left: 20px;
    filter: invert(80%);
}

.audio_content #volume-button:hover {
    cursor: pointer;
    filter: invert(60%);
}

.audio_content #volume-button.mute {
    background-image: url(../img/mute-filled.png);
}

.audio_content #volume-button.volume1 {
    background-image: url(../img/low-volume-filled.png);
}

.audio_content #volume-button.volume2 {
    background-image: url(../img/medium-volume-filled.png);
}

.audio_content #volume-button.volume3 {
    background-image: url(../img/high-volume-filled.png);
}

.audio_content #volume-progress-containter {
    padding: 6px;
    width: 150px;
}

.audio_content #volume-progress-containter:hover {
    cursor: pointer;
}

.audio_content #volume-progress {
    height: 7px;
    width: 100%;
    position: relative;
    background-color: #333;
}

.audio_content #volume-progress > span {
    height: 100%;
    display: block;
    background-color: #666;
}

.audio_content .duration {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    padding: 0 30px 0 30px;
}

.audio_content #duration-progress-containter {
    padding: 5px;
    width: 100%;
}

.audio_content #duration-progress-containter:hover {
    cursor: pointer;
}

.audio_content #duration-progress {
    width: 100%;
    height: 7px;
    position: relative;
    background-color: #333;
}

.audio_content #duration-progress:hover {
    cursor: pointer;
}

.audio_content #duration-progress > span {
    height: 100%;
    display: block;
    background-color: #666;
    position: relative;
    overflow: hidden;
}

.main video {
    max-height: 100%;
    width: 100%;
    margin: auto;
}

@media only screen and (max-width: 550px) {
    .audio_content .audio_controls {
        flex-direction: column;
        padding: 0;
    }

    .audio_content .volume {
        padding-top: 10px;
    }

    .left_panel, .right_panel {
        position: absolute;
        width: 256px;
        height: 100%;
    }
}