<div class="audio_content">
    <audio id="audio_player">
        <source src="{{ url_for('media', file_path=media.path )}}" type="audio/{{ media.type }}">
            Your browser does not support the audio element.
    </audio>
    <div class="audio_info">
        <img class="audio_image" src=""></img>
        <div class="audio_name"><p>{{ media.name }}</p></div>
    </div>
    <img id="play-pause-button" class="play" onclick="togglePlayPause()" src="">
    <div class="audio_controls">
        <div class="duration">
            <div id="duration-value">0:00</div>
            <div id="duration-progress-containter">
                <div id="duration-progress">
                    <span style="width: 0%"></span>
                </div>
            </div>
            <div id="duration-total">-:--</div>
        </div>
        <div class="volume">
            <img id="volume-button" class="volume3" onclick="toggleMute()" src="">
            <div id="volume-progress-containter">
                <div id="volume-progress">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>