{% extends "layout.html" %}
        {% block title %}Web Media Reader{% endblock %}
        {% block content %}
        <div class="content">
            <div class="left_pannel">
                <div class="search">
                    <input type="text" placeholder="Search...">
                </div>
                <div class="navigation">
                {% with template_name='folder_template.html', files=files, depth='' %}{% include template_name %}{% endwith %}
                </div>
                <div class="download">
                    Download new content
                </div>
            </div>
            <div class="main">
                {% with template_name=template, media=media %}{% include template_name %}{% endwith %}
            </div>
        </div>
        {% endblock %}