{% extends "layout.html" %}
        {% block title %}Web Media Reader{% endblock %}
        {% block content %}
        <div class="content">
            <div class="left_panel">
                <div class="search">
                    <input type="text" placeholder="Search...">
                </div>
                <div class="navigation">
                {% with template_name='folder_template.html', files=files, depth='' %}{% include template_name %}{% endwith %}
                </div>
                <div class="download">
                    Download new content
                </div>
            </div>
            <div class="main" ondrop="removeDrop(event)" ondragover="allowDrop(event)" ondragleave="dragLeave(event)">
                <button id="toggle_left" onclick="toggle_panel(event, 'left_panel')" title="Toggle files"><<</button>
                {% with template_name=template, media=media %}{% include template_name %}{% endwith %}
                <button id="toggle_right" onclick="toggle_panel(event, 'right_panel')" title="Toggle playlists">>></button>
            </div>
            <div class="right_panel">
                {% with template_name='playlist_template.html' %}{% include template_name %}{% endwith %}
            </div>
        </div>
        {% endblock %}