<div class="content">
    <div class="name">Current playlist</div>
    <div class="tools"></div>
    <div class="tracks">
        <div class="insert" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="item audio" draggable="true" ondragstart="drag(event)">Lying From You - Linkin Park (Meteora)</div>
        <div class="insert" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="item video" draggable="true" ondragstart="drag(event)">La cambrioleuse</div>
        <div class="insert" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
</div>